h1 { 
    
    text-align: center
}

h2 {
    text-align: center
}

body {
    background-image: url("https://images3.alphacoders.com/319/thumb-1920-31917.jpg");
    
 }
 
 h3 { color: blue
 }

button{
    text-align: center;
}